html, body {
    font-family: 'Josefin Sans' !important;
}
body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.895), rgba(0, 0, 0, 0.895)), url('https://res.cloudinary.com/okafohenrie/image/upload/v1639749732/me_f8vdzi.jpg') no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}


.container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;    
    text-align: center;
    position: relative;
    top: 7em;
}
.personal-information, .social-links {
    padding: 30px 20px;
    color: rgba(151, 151, 151, 0.87);
}
.personal-information {
    text-transform: uppercase;
}
.personal-information h5{
    font-weight: lighter;
}

.name {
    font-size: 40px;
    font-weight: Bold;
    color: lawngreen;
}
.personal-information a {
    background: transparent;
    padding: 15px;
    font-size: 13px;
    position: relative;
    top: 50px;
    color: rgba(151, 151, 151, 0.87);
    border: 1px solid rgba(151, 151, 151, 0.87);
}
.personal-information a:hover {
    color: lawngreen;
    border: 1px solid lawngreen;
}
.social-links {
    margin-top: 100px;
}
.fa-twitter,  .fa-linkedin, .fa-facebook, .fa-github {
    font-size: 50px;
    text-align: center;
    padding: 20px 30px;
    color: rgba(151, 151, 151, 0.87);
}
.fa-twitter:hover {
    color: #1da0f2ee;
}
.fa-linkedin:hover {
    color: #0e77a8ee;
}
.fa-facebook:hover {
    color: #3b5898f3;
}
.fa-github:hover {
    color: #3b3838;
}
  

/* Bouncy Icons */
.bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce .9s infinite linear;
    -o-animation: bounce .9s infinite linear;
    -webkit-animation: bounce .9s infinite linear;
    animation: bounce .9s infinite linear;
  }
  
  @-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
  }
  @-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
  }
  @-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
  }
  @-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
  }
  @keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
  }