body {
    margin: 0;
}
html, body {
    font-family: 'Josefin Sans' !important;
}
h2 {
    font-size: 30px;
    text-align: center;
    padding-bottom: .5rem;
    letter-spacing: 3px;
}
h4 {
    letter-spacing: 3px;
    text-align: center;
    color: #cc005f;
    font-size: 18px;
}
nav {
    width: 100%;
    background: transparent;
    padding-top: 1rem;
    padding-bottom: .02rem;
    position: fixed;
    top: 0;
    z-index: 20;
}
nav a.hire-me-nav, .fa-arrow-circle-left, .fa-bars {
    color: #cc005f;
}
nav a.hire-me-nav {
    text-decoration: none;
    float: right;
    margin-right: 100px;
    font-size: 17px;
    padding: 7px 20px;
    border: 2px solid #cc005f;
}
nav a.hire-me-nav:hover {
    background: #cc005f;
    color: #fff;
}
.fa-arrow-circle-left {
    font-size: 24px;
    margin-left: 50px;
}
.fa-bars {
    float: right;
    margin-right: -160px;
    font-size: 20px;
    padding: 10px;
    visibility: hidden;
}
.drop-down-links {
    width: 100%;
    margin-top: 20px;
    display: none;
    z-index: 20;
}

.drop-down-links a{
    width: 100%;
    display: block;
    text-decoration: none;
    text-align: center;
    background: #313131f3; 
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}
.drop-down-links a:hover {
    text-decoration: underline;
}
.show {display: block;}




section {
    max-width: 100%;
    padding: 0px;
}
.section-container {
    width: 75%;
    min-width: fit-content;
    padding: 10px;
    margin: 0 auto;
}

.personal-info {    
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.personal-info .my-img {
    border-radius: 5rem;
    border: 3px solid #af444417;
    box-shadow: 0px 2px 5px 0px  #abababab;  
}
.personal-info p {
    width: 65%;
    margin: 30px auto 0 auto;
    font-size: 20px;
    text-align: left;
    line-height: 1.7rem;
}


/* Education section and timeline*/
.education {
    background: #ebebeb;
    padding-top: 5em;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
}
.education h2 {
    color: #cc005f;
}

.timeline-container{
    position: relative;
    width: 80%;
    padding: 10px;
    margin: 0 auto;
}
/*creating line for timeline*/
.timeline-container::after{
    content: '';
    position: absolute;
    width: 1px;
    background-color: #b9b9b9de;
    top:0;
    bottom: 0;
    left: 47.5%;
}
/*Adjusting box of all content*/
.content-list {
    margin: 15px 0;
}
.content{
    padding: 10px 20px;
    position: relative;
    width:45%;
    box-sizing: border-box;
    margin: 5px 0;
}
.degree-date {
    text-align: center;
}
.education-info {
    top: -120px;
}
/* circular container */

.degree-date::after{
    font-family: "FontAwesome";
	content: "\f19d";
    position: absolute;
    width: 40px;
    height: 40px;
    right: -40px;
    top: 30px;
    border-radius: 50%;
    z-index: 1;    
    background-color: #313131;
    line-height: 42px;  /* centralize graduation-cap icon */
    color: #ebebeb;
}
.left {
    left: 0;
}
.right {
    left: 50%;
}


/* skills */
.skills {
    background: #313131 url('https://res.cloudinary.com/okafohenrie/image/upload/v1640171169/background-1299431_1280_hdu9db.png')  no-repeat center;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #ebebeb;
}


.skills ul {
    padding: 0;
    width: 70%;
}

.skills li {
    list-style: none;
    padding: 3px 15px;
    display: inline-grid;
}

/* Experience */

.experience {
    background: #151515;
    padding: 3rem 0 7rem 0;
    color: #ebebeb;
    letter-spacing: 1px;
    line-height: 15px;
}
.experience h2 {
    color: #cc005f;
}


.experience .degree-date::after{
	content: "\f0f2"; 
    background-color: #ebebeb;
    color: #313131;
    right: -40px;
}

.experience .button-container li {
    list-style: none;
    display: inline-grid;
    margin-top: 20px;
}
.experience .button-container a {
    text-decoration: none;
    padding: 15px 50px;
    font-size: 15px;
    position: relative;
    top: 50px;
    border: 2px solid #ebebeb;
}
.experience .button-container a.hire-me {
    margin-right: 20px;
}
.solid {
    background: #ebebeb;
    color: #313131;
    font-weight: bold;
}
a.solid:hover {
    background: #ebebebb6;
    border-color: #ebebebb6;
}
.inverse {
    background: transparent;
    color: #ebebeb;
}
a.inverse:hover {
    color: #ebebebb6;
    border-color: #ebebebb6;
}

@media screen and (max-width: 925px){
    .experience .button-container a.hire-me {
        padding-left: 77px;
        padding-right: 77px;
        margin-right: 0;
    }

}



/*  Portfolio  */
.portfolio {
    padding: 2rem 0 2rem 0;
    color: #313131 ;
}
.overlay {                  /* portfolio overlay */
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .overlay-container:hover img {
    opacity: 0.35;
  }
  
  .overlay-container:hover .overlay {
    opacity: 1;
  }
  
  .live-demo-text {
    background-color: transparent;
    color: #cc005f;
    border: 2px solid #cc005f;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 32px;
  }
  


.contact-me {
    background: #151515;
    padding-top: 2.3rem;
    padding-bottom: 5rem;
}
.contact-me h2 {
    color: #fff;
}
.contact-me form {
    width: 70%;
    margin: 0 auto;
}
.contact-me input, .contact-me textarea {
    font-family: 'Josefin Sans' !important;
    font-size: 16px;
    width: 95%;
    padding: 20px;
    letter-spacing: .5px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #fff;
}
.contact-me input {    
    margin-top: 10px;
}
.contact-me input:focus, .contact-me textarea:focus {
    border-color: #cc005f;
}
.contact-me input:focus-visible, .contact-me textarea:focus-visible {
    outline-style: auto;
    outline-width: 0px;
}
.contact-me textarea {
    resize: none;
    height: 230px;
    margin-top: 20px;
    border-bottom-width: 2px;
}

input[type=submit] {
    font-family: 'Josefin Sans' !important;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: .5px;
    margin-top: 30px;
    width: 100%;
    min-width: 200px;
    padding: 20px;
    background: #cc005f;
    border-color: #cc005f;
    color: #ebebeb;
}


footer {
    margin-top: 0;
    padding: 2rem 0;
    text-align: center;
    background: #151515;
}
footer a {
    padding: .7rem;
    font-size: 25px;
    text-decoration: none;
    color: #ebebeb;
}
footer .fa-twitter:hover {
    color: #1da0f2ee;
}

footer .fa-linkedin:hover {
    color: #0e77a8ee;
}
footer .fa-facebook:hover {
    color: #3b5898f3;
}
footer .fa-github:hover {
    color: #3b3838;
}



@media screen and (max-width: 600px) {
    nav {
        background: #fff;
    }
    .fa-arrow-circle-left, .hire-me-nav {
        visibility: hidden;
    }
    .fa-bars {
        visibility: visible;
    }

    
    .content {
        width: 100%;
        padding: 0px 20px;
        margin: 0 auto;
    }
    .degree-date {
        text-align:unset;
        margin-top: 30px;
    }
    .education-info {
        top: -7px;
    }
    .right {
        left: 0;
    } 
    .timeline-container::after{
        left: -3px;
    }
    .degree-date::after{
        left: -32px;
        top: -8px;
        text-align: center;
    }
    .skills li{
        display: inline-flex;
        padding: 3px 12px;
    }
    input[type=submit] {
        margin-left: 15px;
    }
 
}

@media screen and (max-width: 1010px) and (min-width: 601px) {
    .degree-date::after{
        right: -33px;
    }

}