body {
    margin: 0;
}
html, body {
    font-family: 'Josefin Sans' !important;
}
h2 {
    font-size: 33px;
    text-align: center;
    padding-bottom: 1rem;
}
section {
    max-width: 100%;
    padding: 0px;
}
.section-container {
    width: 75%;
    min-width: fit-content;
    padding: 10px;
    margin: 0 auto;
}

.personal-info {    
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 30px;
}
.santas-hat {
    position: absolute;
    top: 8.8rem;
    margin-left: 5rem;
    transform: rotate(30deg)
}

.personal-info .my-img {
    border-radius: 5rem;
    border: 3px solid #af444417;
    box-shadow: 0px 2px 5px 0px  #abababab;  
}
.personal-info p {
    width: 65%;
    margin: 30px auto 0 auto;
    font-size: 20px;
    text-align: left;
    line-height: 1.7rem;
}


/* Education section and timeline*/
.education {
    background: #ebebeb;
    padding-top: 5em;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
}

.timeline-container{
    position: relative;
    width: 80%;
    padding: 10px;
    margin: 0 auto;
}
/*creating line for timeline*/
.timeline-container::after{
    content: '';
    position: absolute;
    width: 1px;
    background-color: #b9b9b9de;
    top:0;
    bottom: 0;
    left: 47.5%;
}
/*Adjusting box of all content*/
.content-list {
    margin: 15px 0;
}
.content{
    padding: 10px 20px;
    position: relative;
    width:45%;
    box-sizing: border-box;
    margin: 5px 0;
}
.degree-date {
    text-align: center;
}
.education-info {
    top: -120px;
}
/* circular container */

.degree-date::after{
    font-family: "FontAwesome";
	content: "\f19d";
    position: absolute;
    width: 40px;
    height: 40px;
    right: -43px;
    top: 30px;
    border-radius: 50%;
    z-index: 1;    
    background-color: #313131;
    line-height: 42px;  /* centralize graduation-cap icon */
    color: #ebebeb;
}
.left {
    left: 0;
}
.right {
    left: 50%;
}

@media screen and (max-width: 600px) {
    .content {
        width: 100%;
        padding: 0px 20px;
        margin: 0 auto;
    }
    .degree-date {
        text-align:unset;
        margin-top: 30px;
    }
    .education-info {
        top: -7px;
    }
    .right {
        left: 0;
    } 
    .timeline-container::after{
        left: -3px;
    }
    .degree-date::after{
        left: -32px;
        top: -8px;
        text-align: center;
    }
    .skills li{
        display: inline-flex;
        padding: 3px 12px;
    }
 
}

@media screen and (max-width: 1010px) and (min-width: 601px) {
    .degree-date::after{
        right: -33px;
    }

}

/* skills */
.skills {
    background: #313131 url('https://res.cloudinary.com/okafohenrie/image/upload/v1640171169/background-1299431_1280_hdu9db.png')  no-repeat center;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #ebebeb;
}

.skills ul {
    padding: 0;
    width: 70%;
}

.skills li {
    list-style: none;
    padding: 3px 15px;
    display: inline-grid;
}

/* Experience */

.experience {
    background: #313131;
    padding: 3rem 0 7rem 0;
    color: #ebebeb;
}
.experience a {
    background: transparent;
    text-decoration: none;
    padding: 15px 50px;
    font-size: 15px;
    position: relative;
    top: 50px;
    color: #ebebeb;
    border: 2px solid #ebebeb;
}
.experience a:hover {
    color: #ebebebb6;
    border: 2px solid #ebebebb6;
}
.experience .degree-date::after{
	content: "\f0f2"; 
    background-color: #ebebeb;
    color: #313131;
}
.portfolio {
    padding: 2rem 0 2rem 0;
    color: #313131 ;
}



.contact-me {
    background: silver;
}